In [1]:
import joblib
from pathlib import Path

PROJECT_ROOT = Path(r"C:\Users\Anna\PycharmProjects\churn-mlops-telco")
DATA_PATH = PROJECT_ROOT / "data" / "processed"

X_test = joblib.load(DATA_PATH / "X_test.joblib")

# On exporte un petit échantillon (ex: 50 clients)
csv_path = PROJECT_ROOT / "sample_clients.csv"
X_test.head(50).to_csv(csv_path, index=False)

csv_path

WindowsPath('C:/Users/Anna/PycharmProjects/churn-mlops-telco/sample_clients.csv')

In [3]:
import pandas as pd
import joblib
from pathlib import Path

PROJECT_ROOT = Path(r"C:\Users\Anna\PycharmProjects\churn-mlops-telco")

# Dataset brut (avec customerID)
df_raw = pd.read_csv(PROJECT_ROOT / "data" / "raw" / "WA_Fn-UseC_-Telco-Customer-Churn.csv")

# X_test (sans customerID)
X_test = joblib.load(PROJECT_ROOT / "data" / "processed" / "X_test.joblib")

print(df_raw.shape)
print(X_test.shape)

(7043, 21)
(1409, 21)

In [4]:
X_test.index[:5]
df_raw.loc[X_test.index].head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
# On récupère customerID pour les mêmes lignes que X_test
df_test_with_id = X_test.copy()
df_test_with_id.insert(
    0,  # première colonne
    "customerID",
    df_raw.loc[X_test.index, "customerID"].values
)

df_test_with_id.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,customer_value,high_monthly_charges
0,7590-VHVEG,Male,0,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),114.05,8468.20,8211.60,1
1,5575-GNVDE,Female,1,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),100.15,908.55,801.20,1
2,3668-QPYBK,Female,0,Yes,Yes,41,Yes,Yes,DSL,Yes,...,No,Yes,No,One year,Yes,Credit card (automatic),78.35,3211.20,3212.35,1
3,7795-CFOCW,Male,0,Yes,No,18,Yes,No,Fiber optic,No,...,Yes,No,No,Month-to-month,No,Electronic check,78.20,1468.75,1407.60,1
4,9237-HQITU,Female,0,Yes,No,72,Yes,Yes,DSL,Yes,...,No,Yes,Yes,Two year,Yes,Credit card (automatic),82.65,5919.35,5950.80,1

In [6]:
csv_path = PROJECT_ROOT / "sample_clients_with_id.csv"
df_test_with_id.head(50).to_csv(csv_path, index=False)

csv_path

WindowsPath('C:/Users/Anna/PycharmProjects/churn-mlops-telco/sample_clients_with_id.csv')